{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        rel="stylesheet" media="screen">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/common.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <title>장르 목록</title>
</head>
<body>
<div class="container">
  <h1>장르 목록</h1>
  <div class="text-right mb5">
    <a href="/music/genre/create" class="btn btn-info">
      <span class="glyphicon glyphicon-plus"></span> 장르 등록
    </a>
    <a href="/music/list" class="btn btn-info"><i class="glyphicon glyphicon-music"></i> 음악 목록으로</a>
    <a href="/music" class="btn btn-warning"><i class="glyphicon glyphicon-home"></i> 맨 처음으로</a>
  </div>
  <hr/>    
  <table class="table table-bordered mt5">
    <thead>
      <tr>
        <th>No.</th>
        <th>이름</th>
      </tr>
    </thead>
    <tbody>
      {% for genre in genres %}
        <tr data-url="/music/genre/edit/{{genre.id}}">
          <td>{{ genre.id }}</td>
          <td>{{ genre.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>
