{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        rel="stylesheet" media="screen">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/common.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <title>회원 가입</title>
</head>
<body>
<div class="container">
  <h1>회원 가입</h1>
  <hr />
  <div id="form_area">
    <form method="post"> {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
            <label class="mylabel">{{ field.label }}</label>
            {{ field }}
        </div>
      {% endfor %}
      <hr />
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong><i class="glyphicon glyphicon-remove-sign"></i> {{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
      <div>
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-ok"></span> 저장
        </button>
        <a href="/guest/login" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i> 이전으로</a>
      </div>
    </form>
  </div>
</div>
</body>
</html>
