{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        rel="stylesheet" media="screen">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/common.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
<div class="container">
  <h1>음악 ${ student.id > 0 ? "수정" : "등록" }</h1>
  <hr />
  {% block abc %}
  {% endblock abc %}
  <div id="form_area">
    <form method="post"> {% csrf_token %}
        {{ form.as_p }}
    </form>
  </div>
</div>
</body>
</html>
