<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        rel="stylesheet" media="screen">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h1>음악 목록</h1>
  <div class="text-right mb5">
    <a href="/music/create" class="btn btn-info">
      <span class="glyphicon glyphicon-plus"></span> 음악 등록
    </a>
  </div>
  <hr/>    
  <table class="table table-bordered mt5">
    <thead>
      <tr>
        <th>No.</th>
        <th>제목</th>
        <th>가수</th>
        <th>장르</th>
        <th>발매년도</th>
      </tr>
    </thead>
    <tbody>
        <tr data-url="edit?id=${ student.id }">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
  </table>
</div>
</body>
</html>
