{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        rel="stylesheet" media="screen">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/common.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <title>음악 목록</title>
</head>
<body>
<div class="container">
  <h1>음악 목록</h1>
  <div class="text-right mb5">
    <a href="/music/create" class="btn btn-info">
      <span class="glyphicon glyphicon-plus"></span> 음악 등록
    </a>
  </div>
  <hr/>    
  <table class="table table-bordered mt5">
    <thead>
      <tr>
        <th>No.</th>
        <th>제목</th>
        <th>가수</th>
        <th>장르</th>
        <th>발매년도</th>
      </tr>
    </thead>
    <tbody>
      {% for music in musics %}
        <tr data-url="/music/edit?id={{ music.id }}">
          <td>{{ music.id }}</td>
          <td>{{ music.title }}</td>
          <td>{{ music.singer }}</td>
          <td>{{ music.genre.name }}</td>
          <td>{{ music.year }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>
